{% extends "details/base.html.twig" %}

{% block title %} DROOPist | {{ ad.title }} {% endblock title %}

{% block header %}

<header class="flex items-center justify-around px-4 py-3 bg-gray-900">
  <div>
      <a href="{{ SERVER_URI }}"><img class="h-8" src="{{ SERVER_URI }}/assets/img/logo-inverted.svg" alt="Workcation"></a>
  </div>
  <div>
    <button type="button" class=" bg-blue-500 ml-4 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded overflow-visible">
        <a href="{{ SERVER_URI }}/add">SUBMIT AD</a>
    </button>
  </div>
</header>


{% endblock header %}

{% block details %}

<div class="flex p-8 content-center justify-center">
  <div class="shadow-xl rounded-lg sm:w-3/5">
    <div class="h-auto bg-gray-200 bg-cover bg-center rounded-t-lg flex items-center justify-center"> 
      <img class="rounded-t-lg" src="{{ SERVER_URI }}/assets/pictures/{{ ad.picture }}">
    </div>
    <div class="bg-white rounded-b-lg px-8">
      <div class="relative bg-white">
            <img class="bg-white right-0 w-16 h-16 rounded-full mr-4 shadow-lg absolute -mt-8" src="{{ SERVER_URI }}/assets/pictures/pngwing.com.png" alt="User Icon">
      </div>
      <div class="pt-8 pb-8">
        <h1 class="text-2xl font-bold text-gray-700">{{ ad.title}}</h1>
<<<<<<< HEAD
        <p class="text-sm text-gray-600">Created the {{ ad.validationDate|date("m/d/Y") }} by {{ ad.user_firstName }} {{ ad.user_lastName|first }}</p>
=======
        <p class="text-sm text-gray-600">Posted the {{ ad.validationDate|date("Y/m/d") }} by {{ ad.user_firstName }} {{ ad.user_lastName }}</p>
>>>>>>> 21dc2c6f4d7cd55b206eee68f40c94b0465142f7
        <p class="my-4">{{ ad.description }}</p>
        <div class="mt-4  mb-8">
          <p id="tag" class="inline-block border border-blue rounded py-1 px-3 text-black p-4" data-category-id="{{ ad.category_id }}">{{ ad.category_name }}</p>
        </div>
        <div class="flex justify-around">
          <div>
            <a href="mailto:{{ ad.user_email }}"><i class="far fa-paper-plane fa-2x"></i></a>
          </div>
          <div>
          <a href="tel:{{ ad.user_phone }}"><i class="fas fa-mobile-alt fa-2x"></i></a>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock details %}

{% block footer %}
<footer class="h-32 bg-gray-900">

</footer>
{% endblock footer %}

{% block javascript %}

<script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
<script type="text/javascript" src="{{ SERVER_URI }}/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="{{ SERVER_URI }}/js/jquery.simpleLoadMore.min.js"></script>
<script type="text/javascript" src="{{ SERVER_URI }}/js/script.js"></script>

{% endblock javascript %}
