{% extends 'base.html.twig' %}

{% block title %}DROOPist{% endblock title %}

{% block header %}

<header class="flex h-32 items-center justify-around px-4 py-3 bg-gray-900">
  <div>
      <a href="{{ SERVER_URI }}"><img class="h-48" src="{{ SERVER_URI }}/assets/img/logo_transparent.png" alt="Workcation"></a>
  </div>
  <div>
    <button type="button" class=" bg-blue-500 ml-4 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded overflow-visible">
        <a href="{{ SERVER_URI }}/add">SUBMIT AD</a>
    </button>
  </div>
</header>


{% endblock header %}

{% block hero %}

<div class="bg-gray-200 h-64 flex items-center justify-center">
    <div class="w-9/12 sm:w-3/5 h-24 pl-4 pr-4 bg-white border rounded-lg flex justify-between items-center relative">
      <input type="search" name="search" id="mySearch" placeholder="Search..."
             class="appearance-none w-full outline-none text-2xl  focus:outline-none active:outline-none" onkeyup="mySearch()"/>
      <button type="submit" class="-ml-8 sm:ml-1 outline-none focus:outline-none active:outline-none">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
             viewBox="0 0 24 24" class="w-10 h-10">
          <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
        </svg>
      </button>
    </div>
</div>

{% endblock hero %}

{% block category %}

<div class="bg-white h-64 flex items-center justify-around sm:overflow-hidden overflow-x-auto">
  <div class="flex sm:items-center sm:justify-around w-full sm:w-3/5 md:w-3/4 lg:w-3/5">
    {% for category in categories %}
    <div class="flex">
      <button  class="flex rounded-full h-24 w-24 font-semibold bg-{{ category.color }}-400 mx-6 bg-contain content-center" onclick="showCat('{{ category.name }}')" style="background-image: url('{{ SERVER_URI }}/assets/img/{{ category.image}}')">
        <span class="pt-24 mx-auto  hover:font-bold">{{ category.name }}</span>
      </button>
    </div>            
    {% endfor %}
  </div>
</div>

{% endblock category %}

{% block cards %}
<div class="pl-2 md:-pl-8  lg:pl-12 py-12 mx-auto sm:w-3/5 md:w-3/4 lg:w-3/5">
  <div class="container flex flex-wrap -mx-1 lg:-mx-4 some-element justify-center">
    {% for ad in ads %}
      <!-- Column -->
      <div class="{{ ad.category_name }} my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3 element-item" id="{{ ad.title }}" data-category-name="{{ ad.category_name }}">

          <!-- Article -->
            <a class="articlelink" href="{{ SERVER_URI }}/details/{{ ad.id }}">
              <div id="article" class="overflow-hidden rounded-lg shadow-lg bg-white">
                
                
                <img alt="Placeholder" class="object-contain block h-auto w-full shadow-xs" src="{{ SERVER_URI }}/assets/pictures/{{ ad.picture }}" />
              

                <header class="flex items-center justify-between leading-tight p-2 md:p-4">
                    <h1 class="text-2xl font-bold text-gray-700">
                        <p class="no-underline hover:underline text-gray-700 title">
                          {{ ad.title }}
                        </p>
                    </h1>
                    <p class="text-grey-darker text-sm text-gray-500">
                        {{ ad.validationDate|date("d/m/Y") }}
                    </p>
                </header>
                <div class="p-4">
                  <p id="tag" class="inline-block border border-blue rounded py-1 px-3 text-white p-4" data-category-id="{{ ad.category_id }}" >{{ ad.category_name }}</p>
                </div>
                <footer class="flex items-center justify-start leading-none p-2 md:p-4">
                    <p class="flex no-underline text-black">
                        <em class="far fa-user fa-2x"></em>
                        <p class="ml-2 text-lg mt-2 font-bold">
                            {{ ad.user_firstName }} {{ ad.user_lastName|first}}
                        </p>
                      </p>
                </footer>
              </div>
            </a>
          <!-- END Article -->

      </div>
      <!-- END Column -->
      {% endfor %}  
    </div>
</div>
<div class="my-12 mx-auto px-4 sm:w-3/5 flex justify-end -mt-6">
  <button id="scroll" class=" bg-blue-500 hover:bg-blue-400 -mr-4 md:ml-0 md:-mr-8 sm:-ml-6 xl:ml-0 xl:-mr-8 text-white font-bold py-2 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded-lg overflow-visible"><em class="fas fa-arrow-up"></em></button>
</div>

{% endblock cards %}

{% block message %}
{% if message %}
<div id="message" class="z-50 overflow-auto bg-smoke-light flex mt-10">
  <div class="relative p-8 bg-white w-full max-w-md m-auto flex-col flex">
    <div class="items-center justify-center">
      <p class="text-2xl">{{ message }}</p>
      <button id="closebtn" class=" bg-blue-500 ml-4 hover:bg-blue-400 text-white font-bold py-2 px-6 border-b-4 border-blue-700 hover:border-blue-500 rounded overflow-visible" onclick="closeModal()">Close</button>
    </div>
  </div>
</div>
{% endif %}
{% endblock message %}

{% block footer %}
<footer class="h-32 bg-gray-900">

</footer>
{% endblock footer %}

{% block javascript %}

<script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
<script type="text/javascript" src="{{ SERVER_URI }}/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="{{ SERVER_URI }}/js/jquery.simpleLoadMore.min.js"></script>
<script type="text/javascript" src="{{ SERVER_URI }}/js/script.js"></script>

{% endblock javascript %}