{% extends 'edit/edit.html.twig' %}

{% block title %}
   DROOPist | Edit {{ ad.title }}
{% endblock title %}

{% block header %}

<header class="flex items-center justify-around px-4 py-3 bg-gray-900">
    <div>
        <a href="{{ SERVER_URI }}"><img class="h-48" src="{{ SERVER_URI }}/assets/img/logo_transparent.png" alt="Workcation"></a>
    </div>
    <div>
        <button type="button" class=" bg-blue-500 ml-4 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded overflow-visible">
            <a href="{{ SERVER_URI }}/add">SUBMIT AD</a>
        </button>
      </div>
</header>

{% endblock header %}

{% block form %}

<div class="bg-gray-100 mx-auto mt-6 max-w-4xl rounded-lg px-4">
    <form class="" name="form" id="edit-form" method="POST" action="/editform/{{ ad.id }}/{{ cryptedMail }}" enctype="multipart/form-data">
        <div class="flex">
            <div class="w-1/2 px-4 py-4">
                <label class="block text-gray-700 text-lg font-bold mb-2" for="firstName">First Name</label>
                <input name="firstName" class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal" type="text" value="{{ ad.user_firstName }}" required>
                {% if messageType == "firstName" %}
                <p class="text-red-600">Invalid first name</p>
                {% endif %}
            </div>
            <div class="w-1/2 px-4 py-4">
                <label class="block text-gray-700 text-lg font-bold mb-2" for="lastName">Last Name</label>
                <input name="lastName" class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal" type="text" value="{{ ad.user_lastName }}" required>
                {% if messageType == "lastName" %}
                <p class="text-red-600">Invalid last name</p>
                {% endif %}
            </div>
        </div>
        <div class="px-4 py-4">
            <label class="block text-gray-700 text-lg font-bold mb-2" for="phone">Phone</label>
            <input  name="phone" class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal" type="tel" value="{{ ad.user_phone}}" required>
            {% if messageType == "phone" %}
            <p class="text-red-600">Invalid phone number</p>
            {% endif %}
        </div>
        <div class=" min-w-fullinline-block relative px-4 py-4">
            <label class="block text-gray-700 text-lg font-bold mb-2" for="category">Category</label>
            <select name="category_id" class="form-select min-w-full block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                {% for category in categories %}
                <option value="{{ category.id }}"
                    {% if category.id == ad.category_id %}
                        selected
                    {% endif %}>
                    {{ category.name }}
                </option>
                {% endfor %}
            </select>
            {% if messageType == "category" %}
            <p class="text-red-600">Invalid category</p>
            {% endif %}
        </div>
        <div class="px-4 py-4">
            <label class="block text-gray-700 text-lg font-bold mb-2" for="title">Title</label>
            <input name="title" class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal" type="text" value="{{ ad.title }}" required>
            {% if messageType == "title" %}
            <p class="text-red-600">Invalid title</p>
            {% endif %}
        </div>
        <div class="px-4 py-4">
            <label class="block text-gray-700 text-lg font-bold mb-2" for="description">Description</label>
            <textarea name="description" class="form-textarea bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal" type="text" required>{{ ad.description }}</textarea>
            {% if messageType == "description" %}
            <p class="text-red-600">Invalid description</p>
            {% endif %}
        </div>
        <div class="px-4 py-4">
            <label class="block text-gray-700 text-lg font-bold mb-2" for="picture">Picture upload</label>
            <input name="picture" class="form-input cursor-pointer bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal" type="file" @change="fileName" value="{{ ad.picture }}" placeholder="{{ ad.picture }}">
            {% if messageType == "picture" %}
            <p class="text-red-600">Invalid picture</p>
            {% endif %}
        </div>
        <div class="px-4 py-4">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-6 rounded-full">Submit</button>
        </div>
    </form>
</div>

{% endblock form %}

{% block javascript %}

<script type="text/javascript" src="{{ SERVER_URI }}/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{ SERVER_URI }}/js/form-validation.js"></script>

{% endblock javascript %}