{% extends "mail/base.mjml.twig" %}

{% block delete %}

<mj-section background-color="#edf2f7;" padding-bottom="20px" padding-top="20px">
    <mj-column vertical-align="middle" width="100%">
      <mj-text align="left" font-size="22px" font-family="open Sans Helvetica, Arial, sans-serif" padding-left="25px" padding-right="25px"><span>Dear {{ ad.user_firstName }} {{ ad.user_lastName }}</span></mj-text>
      <mj-text align="left" font-size="19px" font-family="open Sans Helvetica, Arial, sans-serif" padding-left="25px" padding-right="25px">We&apos;re really sorry you&apos;ve decided to give delete your ad. In case you have any questions, feel free to reach out to us.</mj-text>
      <mj-text align="center"  font-size="18px" font-family="open Sans Helvetica, Arial, sans-serif" padding-left="25px" padding-right="25px">To confirm you want to delete your ad 👇</mj-text>
      <mj-button href="{{ SERVER_URI }}/delete/{{ ad.id }}/mail/{{ cryptedMail }}" align="center" font-size="22px" color="white" font-weight="bold" background-color="red" border-radius="10px" color="black" font-family="open Sans Helvetica, Arial, sans-serif">Delete</mj-button>
      <mj-text align="left" color="black" font-size="15px" font-family="open Sans Helvetica, Arial, sans-serif" padding-left="25px" padding-right="25px">Thanks, <br /> The Classified Ads Team</mj-text>
    </mj-column>
  </mj-section>
    
{% endblock delete %}